body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

nav {
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: lightblue;
}

nav > h2 {
  display: inline-block;
}

a {
  text-decoration: none;
}

main {
  height: 600px;
  display: flex;
  justify-content: space-between;
}

main > aside {
  width: 24%;
  padding: 10px;
  background-color: lightyellow;
}

main > section {
  width: 76%;
  background-color: lightcyan;
}

.hooks-wrapper {
  display: flex;
  padding: 10px;
}

.hooks-menu {
  width: 20%;
}

.hooks-item {
  width: 80%;
}

input {
  padding: 4px 8px;
  width: 10rem;
  height: 1.4rem;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgba(148, 148, 148, 0.587);
}

input:focus {
  background-color: rgba(104, 190, 255, 0.484);
}

button {
  border-radius: 6px;
  padding: 4px 8px;
  width: 5rem;
  height: 2rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgba(41, 102, 206, 0.724);
}

button:hover {
  background-color: rgb(0, 102, 255);
}

button:disabled {
  background-color: grey;
}


.redux-wrapper {
  display: flex;
  width: 100%;
  
  margin: 10px;
}

.redux-menu {
  width: 24%;
}

.context {
  margin: 10px;
}

.example-wrapper {
  display: flex;
  width: 100%;
  margin: 10px;
}

.example-menu {
  width: 28%;
}

.example-item {
  width: 72%;
}